.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 1px 0px 16px -5px rgba(18, 18, 18, 0.81);
    box-shadow: 1px 0px 16px -5px rgba(18, 18, 18, 0.81);
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postCreatorImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUserName {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
}

.postCentre {
    margin: 20px 0;
}

.postImage {
    margin-top: 20px;
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.reactionButton {
    width: 24px;
    height: 24 px;
    cursor: pointer;
}

.likeCounter {
    font-size: 15px;
}

.commentsCounter {
    cursor: pointer;
    border-bottom: 1px dashed gray;
}
