.rightbar {
    flex: 3;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}

.birthdayContainer {
    display: flex;
    align-items: center;
}

.birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText {
    font-weight: 300;
    font-style: 15px;
}

.onlineFriends {
    margin-top: 20px;
    margin-bottom: 20px;
}

.rightbarFriendsList {
    padding: 0;
    margin: 0;
    list-style: none;
}

